<%- include('../layouts/header.ejs') %>
  <div class="page-wrapper bg-gra-01 p-t-20 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
      <div class="card card-3">
        <div class="card-body">
          <h2 class="title">REGISTRATION FORM</h2>
          <form action="/register" method="POST">
            <div class="input-group">
              <input class="input--style-3" type="text" placeholder="Username" name="name"
                value="<%= locals.formData && formData !== null? formData.name : ''%>">
            </div>
            <% if(typeof vname !=='undefined' ){ %>
              <h6 class="noti4 mb-5 pb-lg-2">
                <%= vname %>
                  </h5>
                  <% } %>
                    <div class="input-group">
                      <input class="input--style-3" type="email" placeholder="Email" name="email"
                        value="<%= locals.formData && formData !== null? formData.email : ''%>">
                    </div>
                    <% if(typeof vemail !=='undefined' ){ %>
                      <h6 class="noti4 mb-5 pb-lg-2">
                        <%= vemail %>
                          </h5>
                          <% } %>
                            <div class="input-group">
                              <input class="input--style-3" type="text" placeholder="Age" name="age"
                                value="<%= locals.formData && formData !== null? formData.age : ''%>">
                            </div>
                            <% if(typeof vage !=='undefined' ){ %>
                              <h6 class="noti4 mb-5 pb-lg-2">
                                <%= vage %>
                                  </h5>
                                  <% } %>
                                    <div class="input-group">
                                      <input class="input--style-3" type="text" placeholder="Place" name="place"
                                        value="<%= locals.formData && formData !== null? formData.place : ''%>">
                                    </div>
                                    <% if(typeof vplace !=='undefined' ){ %>
                                      <h6 class="noti4 mb-5 pb-lg-2">
                                        <%= vplace %>
                                          </h5>
                                          <% } %>
                                            <div class="input-group">
                                              <input class="input--style-3" type="text" placeholder="Phone" name="phone"
                                                value="<%= locals.formData && formData !== null? formData.phone : ''%>">
                                            </div>
                                            <% if(typeof vphone !=='undefined' ){ %>
                                              <h6 class="noti4 mb-5 pb-lg-2">
                                                <%= vphone %>
                                                  </h5>
                                                  <% } %>
                                                    <div class="input-group">
                                                      <input class="input--style-3" type="password"
                                                        placeholder="Password" name="password"
                                                        value="<%= locals.formData && formData !== null? formData.password : ''%>">
                                                    </div>
                                                    <% if(typeof vpassword !=='undefined' ){ %>
                                                      <h6 class="noti4 mb-5 pb-lg-2">
                                                        <%= vpassword %>
                                                          </h5>
                                                          <% } %>

                                                            <div class="p-t-10">
                                                              <% if(typeof validate !=='undefined' ){ %>
                                                                <h6 class="noti3 mb-5 pb-lg-2">
                                                                  <%= validate %>
                                                                    </h5>
                                                                    <% } %>
                                                                      <button class="btn btn--pill btn--green"
                                                                        type="submit">Sign</button>
                                                                      <a class="atag" href="/login"><button
                                                                          class="btn btn--pill btn--green"
                                                                          type="button">Back to login</button> </a>
                                                            </div>
          </form>
          <% if(locals.failed){ %>
            <h5 class=" noti1 bold mb-5 pb-lg-2">
              <%= failed %>
            </h5>
            <% } %>
              <% if(typeof message !=='undefined' ){ %>
                <h5 class="noti bold mb-5 pb-lg-2">
                  <%= message %>
                </h5>
                <% } %>
        </div>
        <div class="card-heading"></div>
      </div>
    </div>
  </div>
  <%- include('../layouts/footer.ejs') %>